@font-face {
    font-family: 'd';
    src: url('AvenirNextCyr-Demi.eot');
    src: url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Demi.woff') format('woff'),
    url('AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'b';
    src: url('AvenirNextCyr-Bold.eot');
    src: url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Bold.woff') format('woff'),
    url('AvenirNextCyr-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'r';
    src: url('AvenirNextCyr-Regular.eot');
    src: url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Regular.woff') format('woff'),
    url('AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'm';
    src: url('AvenirNextCyr-Medium.eot');
    src: url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Medium.woff') format('woff'),
    url('AvenirNextCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}
